.profile__tweets__header {
  padding: 11px 16px;
  font-size: 20px;
  font-weight: 800;
  color: white;
  border-bottom: 0.5px solid rgb(56, 68, 77);
}
.profile__tweets__footer {
  padding: 16px;
  color: rgb(30, 161, 242);
  font-size: 16px;
}
